/* body {
    background-image: url("images/table.png"); 
    background-size: 1500px 760px;
    background-repeat: no-repeat;
}

h1 {
    color: #6F7C79;
    font-family: "Instrument Serif";
    font-size: 48px;
    padding-left: 975px;
    padding-top: 15px;
}

p {
    color: #000;
    font-family: "Inclusive Sans";
    font-size: 24px;
} */