body {
    background-image: url("images/background.jpg");
    background-size: cover;
}

h1 {
    font-family: "Hina Mincho", serif;
    padding-left: 685px;
    padding-top: 100px;
}

#roll {
    background-color: #284d24;
    border-radius: 5px;
    font-size: 31px;
    font-family: "Hina Mincho";
    color: #f5e6c9;
    margin-left: 685px;
    margin-top: 200px;
    border-color: #284d24;
}

#tofu {
    margin-bottom: -40px;
    margin-left: 770px;
}

#tofu2 {
    margin-bottom: 50px;
    margin-left: -210px;
}

#number1 {
    font-family: "Hina Mincho";
    font-size: 45px;
    color: #c42e27;
    padding-left: 670px;
}

#number2 {
    font-family: "Hina Mincho";
    font-size: 45px;
    color: #c42e27;
    padding-left: 790px;
    margin-top: -95px;
}

#lines {
    padding-left: 40px;
    padding-top: 27px;
}