/* html {
    background-image: url("images/bricks.png"); 
    background-size: 1500px;
    background-repeat: no-repeat;
} */

html {
    overflow: hidden;
    padding-top: 60px;
}

h1 {
    position: fixed;
    top: -25px;
    left: 50%;
    transform: translateX(-50%); 
    z-index: 2; 
    color: #353C46;
    font-family: "Instrument Serif";
    font-size: 90px;
    text-align: center;
}

body {
    /* background-image: url("images/cafe.png");
    background-size: 1200px;
    background-repeat: no-repeat;
    height: 750px;
    background-position: center;
    margin-top: -20px; */
    background-image: url("images/bricks.png"); 
    background-size: 1500px 760px;
    background-repeat: no-repeat;
}

#cafeimg {
    position: absolute;
    padding-top: 5px;
    top: 0; 
    left: 50%;
    transform: translateX(-50%); 
    z-index: 1; 
}

/* h1 {
    color: #353C46;
    font-family: "Instrument Serif";
    font-size: 90px;
    position: absolute;
} */

.cafe {
    margin-top: 5px;
    /* margin-bottom: 50px; */
} 

input {
    background-color: #555D6A;
    color: #BCCCC8;
    border: none;
    border-radius: 20px;
    font-family: "Inclusive Sans";
    font-size: 24px;
    width: 188px;
    height: 55px;
    text-align: center;
}


input::placeholder {
    color: #AAAEB4;
    font-size: 24px;
    text-decoration-line: underline;
    text-align: center;
}

#submit {
    background: #839892;
    color: white;
    width: 115px;
    height: 50px;
    border-radius: 0px;
    position: relative;
    top: 140px;
    left: 475px;
    position: absolute;
}

form {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    /* grid-gap: 10px;  */
    position: fixed;
    margin-top: 233px;
    margin-left: 333px;
    background: linear-gradient(180deg, #BCCDE0 0%, #E5E9ED 100%);
    width: 395px;
    height: 312px;
    align-items: center;
    padding-left: 10px;
    z-index: 2;
}

/* #submitbutton {
    background:none;
    position: relative;
    top: 129px;
    left: 465px;
    
} */

url {
    background-repeat: no-repeat;
}

/* #ad1 {
    margin-left: 223px;
    margin-right: 789px;
    padding-top: 332px;
    padding-bottom: 363px;
} */


#madlib-overlay {
    background-image: url("./images/table.png"); 
    background-size: 1500px 760px;
    background-repeat: no-repeat;
    color: #6F7C79;
    font-family: "Instrument Serif";
    font-size: 48px;
    padding-left: 975px;
    padding-top: 15px;
}

.hidden {
    display: none;
}

.showing {
    display: block;
}