/* html {
    background-image: url("images/bricks.png"); 
    background-size: 1500px;
    background-repeat: no-repeat;
} */

html {
    /* from glenda: usability problem */
    overflow: hidden;
    /* padding-top: 60px; */
}

/* glenda added */
.container {
    position: relative;
    background-image: url(images/cafe.png);
    width: 1200px;
    height: 750px;
    margin: auto;
}

h1 {
    position: absolute;
    top: -25px;
    left: 50%;
    transform: translateX(-50%); 
    z-index: 2; 
    color: #353C46;
    font-family: "Instrument Serif";
    font-size: 90px;
    text-align: center;
}

body {
    /* background-image: url("images/cafe.png");
    background-size: 1200px;
    background-repeat: no-repeat;
    height: 750px;
    background-position: center;
    margin-top: -20px; */
    background-image: url("images/bricks.png"); 
    background-size: 375px 120px;
    /* background-size: 1500px 760px; */
    /* background-repeat: no-repeat; */
    /* width: 100vw;
    height: 100vh;
    display: grid;
    place-content: center; */
}


/* #cafeimg {
    position: absolute;
    padding-top: 5px;
    top: 0; 
    left: 50%;
    transform: translateX(-50%); 
    z-index: 1; 
} */

/* h1 {
    color: #353C46;
    font-family: "Instrument Serif";
    font-size: 90px;
    position: absolute;
} */

.cafe {
    margin-top: 5px;
    background-size: fill;
    /* margin-bottom: 50px; */
} 

input {
    background-color: #555D6A;
    color: #BCCCC8;
    border: none;
    border-radius: 20px;
    font-family: "Inclusive Sans";
    font-size: 24px;
    width: 188px;
    height: 55px;
    text-align: center;
    margin-top: 20px;
    margin-left: 2px;
}


input::placeholder {
    color: #AAAEB4;
    font-size: 24px;
    text-decoration-line: underline;
    text-align: center;
}

#submit {
    background: #839892;
    color: white;
    width: 115px;
    height: 50px;
    border-radius: 0px;
    /* from glenda: conflicting positioning */
    top: 120px;
    left: 465px;
    position: absolute;
}

form {
    /* from glenda: place in position to its parent which is .container */
    position: absolute; 
    top: 287px;
    left: 218px;
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    /* grid-gap: 10px;  */
    /* position: fixed; */
  
    background: linear-gradient(180deg, #BCCDE0 0%, #E5E9ED 100%);
    width: 395px;
    height: 312px;
    /* align-items: center; */
    /* padding-left: 10px; */
    z-index: 2;
}

/* #submitbutton {
    background:none;
    position: relative;
    top: 129px;
    left: 465px;
    
} */

url {
    background-repeat: no-repeat;
}

/* #ad1 {
    margin-left: 223px;
    margin-right: 789px;
    padding-top: 332px;
    padding-bottom: 363px;
} */


#madlib-overlay {
    background-image: url("./images/table.png"); 
    background-size: 1500px 750px;
    background-repeat: no-repeat;
    /* background-size: fit; */
    color: #6F7C79;
    font-family: "Instrument Serif";
    font-size: 48px;
    padding-left: 975px;
    padding-top: 5px;
    margin: 0;
    padding: 0;
    z-index: 1;
    /* position: relative; */
}

.hidden {
    display: none;
}

.showing {
    display: block;
}

#menutext {
    left: 1030px;
    top: 20px;
    color: #6F7C79;
    font-family: "Instrument Serif";
    font-size: 48px;  
    position: fixed; 
}

#madlib {
    font-size: 12px;  
    padding-top: 150px;
    z-index: 1000; 
    color: #000;
    font-family: "Inclusive Sans";
    font-size: 24px;
    line-height: 140%;
    padding-left: 800px;
    width: 464px;
    height: 572px;
    /* position: relative; */
}

#madlib span {
    font-weight: bold;
    color: #6F7C79;
}

.error-message-container {
    background: #555D6A;
    position: absolute;
    color: white;
    font-size: 20px;
    font-family: "Inclusive Sans";
    /* text-align: center; */
    padding-left: 200px;
    width: 130px;
    top: 400px;
    left: 1050px;
    transform: translateX(-50%);
    z-index: -1;
    /* margin-top: -500px;
    margin-right: 170px;
    padding-right: 10px;
    margin-left: -10px; */
}

/* div {
    background-image: url("./images/table.png");
} */